@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
/*@font-face {
  font-family: myFirstFont;
  src: url(../font/lemondelivre-normal.otf);
}*/
body{
	font-weight: 500 !important;
	font-family: 'Merriweather Sans', sans-serif;
	color: #000;
}
/*Bootstrap modifications*/
.container-fluid{
	padding-left: 40px !important;
	padding-right: 40px !important;
	}
	.nav-link {
    text-transform: uppercase;
    color: #000;
    padding: 8px 20px !important;
}
.form-control{
	border-radius: 0 !important;
	border:none !important;
}
textarea.form-control {
    height: 180px !important;
}
/*Bootstrap modifications*/	
h1{
	font-size:46px !important;
	font-weight: 500 !important;
}
h3{
	font-weight:400 !Important
}
p,li{
	color: #7F7F7F;
	font-size: 14px;
	line-height: 25px;
}
ul{
	list-style-type: none;
}
.has_dot li:before{
	margin-right: 6px;
    content: "•";
}
.bg_gray{
	background-color: #f5f5f5;
}
.max500{
	max-width: 500px;
}
.max1002 {
    max-width: 1002px !important;
    margin:auto auto 40px;
}
.bg_gray2{
	background-color: #f5f5f5;
	margin-bottom: 80px;
	padding-bottom: 30px;
}
.header .container {position: relative; }
.top_bar {
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 999
}
#navigation {margin-top:25px;}
/*.header.scrolled {
    background-color: #fff;
    position: relative;
}*/
.customer_login {
    color: #fff;
    padding:2px 10px 4px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5), 0px 0px 8px rgba(0,0,0,0.5);
    border-color: #787878;
    background-color: #534741;
    border-radius: 10px;
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
	letter-spacing:1px;
	font-size: 14px;
}
.customer_login:hover{
	color: #fff;
	text-decoration: none;
	background-color: #141414;
}
.logo{
	max-width: 370px;
	margin-left: -40px;
}
.navbar-nav {font-family: 'Merriweather Sans', sans-serif; font-size:16px !important;}
.navbar-toggler {
    border-color: #000 !important;
}
.navbar-toggler-icon{
	width: auto !important;
	height: auto !important;
}
.top-banner{
	background: url("../img/top_banner.jpg") no-repeat center center;
		background-size: cover;
		padding-top: 20px;
		padding-bottom: 100px;
}
.card-img-top {
    
}
.mtb80 {
    margin: 80px 0px;
}
.mtb80 h1 {color: #000000;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
}
.max1002 h1, .max1002 .text-uppercase {
	font-weight: 600 !important;
}
section,.footer-bottom{
	padding: 60px 0px 9px 0px;
}
hr{
	border-top:2px solid #000  !important;
	margin:0 !important
}
.heading_hr {
border-top: 3px solid #8CC63F !important;
width: 70px;
padding-bottom: 20px;
margin: 20px auto !important;
}
.heading_hr_blue{
	border-top-color: #8CC63F !important;
	margin:20px 0 !important;
}
.heading_hr_blue2{
	border-top-color: #93278F !important;
	margin:20px 0 !important;
}
.heading_hr_blue3{
	border-top-color: #8CC63F !important;
	margin:20px 0 !important;
}
.heading_hr_blue4{
	border-top-color: #29ABE2 !important;
	margin:20px 0 !important;
}
.no-padding .col-md-6 {
    padding: 0;
}
.p15{
	padding: 15px
}
.p15 h2 {
	font-size:30px;
	line-height:36px;
}
.btn-primary {
background-color: #8CC63F !important;
color: #fff !important;
border-radius: 0 !important;
border: 0 !important;
padding: 13px 42px !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.card-title {
	min-height: 48px;
}
.card-body {
	padding: 1.25rem 30px 50px;
}
.row_set {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.icon_text {
    margin: 20px 0;
}
.icon_text p{
	font-size: 13px;
	line-height:22px;
}
.better .img-fluid2 {
	height: 100%;
}
.better .p15 {
	padding: 15px 36px;
}
.services{
	background: url("../img/services.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-weight: 600;
}
.service .img-fluid {
	background: white;
}
.service h6{
	color: #8CC63F;
	margin: 25px 0 30px;
	font-weight: 600;
}
.service p {
	font-size:13px;
	letter-spacing:0.5px;
}
.service a{
	text-transform: uppercase;
	color: #000;
	font-size: 13px;
	font-weight: normal;
}
.bg-white{
	background-color: #fff;
}
footer .fa{
	font-size: 50px;
}
.icon-left{
	padding-left: 10px;
}
.contact_info{
	font-size: 20px;
	color: #000;
	margin-bottom: 0;
} 
.aboutheader,.serviceheader {
	background-size: cover !important;
	padding-top: 20px;
	padding-bottom:120px
}
.aboutheader {
	background: url("../img/aboutheader.jpg") no-repeat center center;
	}	
.serviceheader{
	background: url("../img/serviceheader.jpg") no-repeat center center;
}	
.service_page{
	padding: 50px 0px
}  
.contact_page .top_bar{
	display: none;
}
.contact_form{
		background: url("../img/services.jpg") no-repeat center center;
		background-size: cover;
		padding-top:100px;
	}  	
/*responsive*/
@media screen and (max-width: 767px) {
 .container-fluid{
	padding-left: 15px !important;
	padding-right: 15px !important;
	}
	.top_bar {
    top: 2px;
    right: 30px;
}
	.logo{
		max-width: 200px;
	}
	.mtb80 {
    margin: 20px 0px;

}
.ml-white{
	border: 0 !important;
}
}
/*placeholder*/
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 700;
  color: #000;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  font-weight: 700;
  color: #000;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  font-weight: 700;
  color: #000;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  font-weight: 700;
  color: #000;
}
/*input[type="email"]::-webkit-input-placeholder {
  color: orange;
}*/
/*placeholder*/
.text-underline {
    text-decoration: underline;
}
.ml-white{
	border-left: 3px solid #ffff;
	border-right: 3px solid #ffff;
}
@media (min-width:1200px){.container{max-width:1280px}}